body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
    color: rgb(29, 28, 28);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#nav{
    position: fixed;
    height: 80px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow: 1px 1px 1px lightgray; */
    background: white;
}

#profile{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(img/profile.png);
    background-size: cover;
    margin-right: 50px;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    transition: 1s;
    margin-left: 50px;
    }

.bar{
    width: 30px;
    height: 2px;
    background: rgb(29, 28, 28);
}

#menu:hover{
    transform: rotate(-45deg);
}

#title{
}

h1{
  margin-top: 150px;
  color: black;
  font-size: 3rem;

}

input{
    line-height: 1rem;
    border: 1px solid gray;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#photos{
    column-gap: 5px;
    /* column-width: 250px; */
    column-count: 3;
    /* margin: 0 6px 0 6px; */
    width: 95vw;
    align-self: center;
}

@media screen and (max-width: 700px) {
    #photos{
        column-count: 2;
    }
    #side{
      display: none;
    }
}

@media screen and (max-width: 400px) {
    #photos{
        column-count: 1;
    }
    #side{
      display: none;
    }
}

.photo{
    display: inline-block;
    /* padding: 5px; */
    /* margin-bottom: 6px; */
    margin-bottom: 2px;
    /* border: 1px solid lightgray; */
    /* border-radius: 3px; */
    /* box-shadow: 2px 2px 2px lightgray; */
}

img{
    width: 100%;
    border-radius: 3px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
img:hover{
    transform: scale(1.07);
}

#footer{
    height: 4rem;
}

#side{
  position: -webkit-sticky;
  position: sticky;
  width: 30px;
  height: 40px;
  top:25px;
  left: 30px;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1); */

    /* position: -webkit-sticky;
    position: sticky;
    width: 200px;
    padding: 3px;
    height: 395px;
    left:-100px;
    top:0;
    border-radius: 5px;
    z-index: 1;
    color: gray;
    text-align: right;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

/* #side:hover{
  background: tomato;
  width: 300px;

} */

/* .text{
  background: rgb(22, 42, 95);
  display: inline-block;
  height: 70px;
  width: 50px;
  border-radius: 40%;
  padding-top: 10px;
} */

#menu2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    transition: 1s;
    margin-top: 10px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

.bar2{
    width: 30px;
    height: 2px;
    background: rgb(29, 28, 28);
}

#menu2:hover{
    transform: rotate(-45deg);
}
